:root {
    --red: #b52828;
    --hoverColor: rgb(139, 31, 31);
}

body {
    font-family: Lato, Helvetica, sans-serif;
    font-weight: lighter;
}

h2 {
    margin: 6px 0px;
}

h3 {
    margin: 6px 0px;
    padding: 12px 0px 0px;
}

a {
    color: var(--red);
    text-decoration: none;
}

.kanbas-nav-container {
    width: 85px;
}

.kanbas-nav {
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    box-sizing: border-box;
    flex: 1 0 auto;
    flex-direction: column;
    list-style-type: none;
    width: 85px;
    text-align: center;
    margin: 0%;
    padding: 0%;
    height: 100%;

}
.logo-container {
    height: 75px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.neu-logo {
    width: 85px;
    align-self: center;
}

.nav-item {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5px 0px;

}

.red {
    color: var(--red);
}

.grey {
    color: grey;
}

.nav-button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 7px 0px;
    flex-direction: row;
    font-size: 14px;
    font-weight: lighter;
    width: 85px;

}

.nav-active {
    background-color: white;
    color: var(--red);
}
/* 
.col {
    width: 80 px;
} */

.second-nav-container {
    width: 192px;
}

.second-nav {
    list-style: none;
}

.second-nav-link-container {
    margin: 12px 0px;
}

.second-nav-link {
    text-decoration: none;
    padding: 8px 0px 8px 6px;
    margin: 12px 0px;
}

.second-nav-link:hover {
    text-decoration: underline;
    color: var(--hoverColor);
}

.active {
    border-left: solid black;
    color: black;
    font-weight: bold;
}

.profile-header {
    margin: 24px 0px 0px 24px;
    font-size: 18px;
    /* min-height: 4.5rem; */
}

.profile {
    padding: 36px;
    display: flex;
    flex-direction: column;
}

.name {
    flex-direction: column;
    margin-bottom: 10px;
}

.center {
    text-align: center;
}

.arrow {
    width: min-content;
    flex: 0 0 0;
    padding: 0px;
}

.btn {
    background: #f5f5f5;
    color: #2d3b45;
    border: 1px solid;
    border-color: #c7cdd1;
    border-radius: 3px;
    transition: background-color .2s ease-in-out;
    display: inline-block;
    position: relative;
    padding: 8px 14px;
    margin-bottom: 0;
    font-size: 16px;
    font-size: 1rem;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    overflow: hidden;
    text-shadow: none;
    -webkit-user-select: none;
    user-select: none;
}

.btn:hover {
    background-color: #eeeeee;
}

.btn-primary {
    background: #d41b2c;
    color: white;
    border: 1px solid;
    border-color: #B51726;
}

.btn-primary:hover {
    background-color: #CA1A2A;
    border-color: #B51726;

}

.btn-small {
    padding: 2px 8px;
    font-size: 14px;
    font-size: 0.875rem;
}

.edit-action {
    margin: 20px 0px;
}